{% extends "base.html" %}

{% load static %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
  <div class="container">
  <div class="header">
    <h5>
      <a href="{% url 'books_list' %}">Вернуться в каталог</a>
    </h5>
      <h1>{{ pub_date }}</h1>
  </div>

  <div class="content">
    <div class="row">
     {% for book in books %}
        <div class="book col-md-4">
            {% for key, value in book %}
             <p>{{ key }}:{{ value }}</p>
            {% endfor %}
        </div>
     {% endfor %}
    </div>
    {% if page.has_previous %}
    <a class="button button-primary" href="{{ page.previous_page_number }}">previous</a>
    {% endif %}
    <a class="button disabled" href="">{{ pub_date }}</a>
    {% if page.has_next %}
    <a class="button button-primary" href="{{ page.next_page_number }}">next</a>
    {% endif %}</div>
  </div>


{% endblock %}